// Footer
.footer {
  align-content: center;
  background: transparentize($black, .97);
  border-top: 1px solid transparentize($black, .95);
  color: $medium;
  display: grid;
  font-size: 13px;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 0 $s;

  strong {
    color: $dark;
  }

  @include mq-up($screen-sm) {
    grid-template-columns: repeat(3, auto);
  }

  @include mq-up($screen-md) {
    padding: 0 ($s * 2);
  }
}

// Colophon
.colophon {
  display: none;

  @include mq-up($screen-sm) {
    display: block;
  }
}

// Footer links
.footer-links {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, auto);

  svg {
    height: 16px;
    vertical-align: middle;
    width: 16px;
  }

  a {
    color: $darker;
    text-decoration: none;

    path {
      fill: $darker;
      transition: fill $t ease;
    }

    .label {
      display: none;
    }

    &:hover,
    &:focus {
      color: $primary;

      path {
        fill: $primary;
      }
    }
  }

  @include mq-up($screen-sm) {
    a {
      .label {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// Social links
.social {
  margin: 0;

  .twitter-follow-button,
  .twitter-share-button {
    vertical-align: middle;
  }
}
