*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f7f8f8;
  color: #1f2122;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #d63e53;
  transition: color 0.2s ease;
}
a:hover, a:focus {
  color: #d33148;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2em;
  margin: 0;
}
p + h1, ul + h1, ol + h1, pre + h1,
p + h2,
ul + h2,
ol + h2,
pre + h2,
p + h3,
ul + h3,
ol + h3,
pre + h3,
p + h4,
ul + h4,
ol + h4,
pre + h4,
p + h5,
ul + h5,
ol + h5,
pre + h5,
p + h6,
ul + h6,
ol + h6,
pre + h6 {
  margin-top: 1.6em;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25em;
  font-weight: 900;
}
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

p {
  margin: 0;
}
p + p, ul + p, ol + p, pre + p {
  margin-top: 1.6em;
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 2.2em;
}
ol li + li,
ul li + li {
  margin-top: 0.75em;
}
p + ol, ul + ol, ol + ol, pre + ol,
p + ul,
ul + ul,
ol + ul,
pre + ul {
  margin-top: 1.6em;
}

ul {
  list-style-type: square;
}
ul ul {
  list-style-type: circle;
}

hr {
  background: #f2f3f3;
  border: 0;
  height: 1px;
  margin: 1.6em 0;
}
@media only screen and (min-width: 801px) {
  hr {
    margin: 2.2em 0;
  }
}

code,
pre,
.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
  overflow-x: auto;
}

kbd {
  color: #aaaeb0;
  font-family: sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.2em;
}
kbd.light {
  color: rgba(255, 255, 255, 0.5);
}

.input {
  background: #fff;
  border: 1px solid #e3e7e9;
  border-radius: 4px;
  color: #1f2122;
  display: block;
  font-size: inherit;
  height: 50px;
  padding: 0 16px;
  resize: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.input:focus {
  border-color: #4cadca;
  box-shadow: 0 0 4px inset rgba(76, 173, 202, 0.5);
  outline: none;
}
.input.wide {
  display: block;
  width: 100%;
}
.input.tall {
  height: auto;
  padding: 16px;
}
.input.no-resize {
  resize: none;
}
.input::placeholder {
  color: #c6cfd3;
}

.btn {
  background: #454849;
  border: 1px solid #393b3c;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  padding: 0 12px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.btn strong {
  color: #454849;
}
.btn:hover, .btn:focus {
  background-color: #393b3c;
}
.btn.pill {
  border-radius: 20px;
  padding: 0 16px;
}
.btn.sm {
  font-size: 12px;
  height: 30px;
}
.btn.sm.pill {
  border-radius: 15px;
  padding: 0 12px;
}
.btn.light {
  background-color: #d5dbde;
  border-color: #c6cfd3;
  color: #767b7e;
}
.btn.light:hover, .btn.light:focus {
  background-color: #ccd3d7;
}
.btn.medium {
  background-color: #767b7e;
  border-color: #6a6e71;
}
.btn.medium:hover, .btn.medium:focus {
  background-color: #6a6e71;
}
.btn.primary {
  background-color: #d63e53;
  border-color: #cf2c42;
}
.btn.primary:hover, .btn.primary:focus {
  background-color: #cf2c42;
}
.btn.secondary {
  background-color: #e0c85d;
  border-color: #dcc148;
  color: #454849;
}
.btn.secondary:hover, .btn.secondary:focus {
  background-color: #dcc148;
}
.btn.info {
  background-color: #4cadca;
  border-color: #3aa3c3;
}
.btn.info:hover, .btn.info:focus {
  background-color: #3aa3c3;
}
.btn.danger {
  background-color: #d63e53;
  border-color: #cf2c42;
}
.btn.danger:hover, .btn.danger:focus {
  background-color: #cf2c42;
}
.btn.success {
  background-color: #50c78f;
  border-color: #3dc083;
}
.btn.success:hover, .btn.success:focus {
  background-color: #3dc083;
}
.btn.clear {
  background-color: transparent;
  border-color: transparent;
}
.btn:focus {
  border-color: #4cadca;
  box-shadow: 0 0 6px rgba(76, 173, 202, 0.8);
  outline: none;
}

.app {
  display: grid;
  grid-template-rows: auto 40px;
  height: 100vh;
}

.ruler {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.cards {
  align-content: start;
  display: grid;
  grid-gap: 10px;
  padding: 25px 10px 10px 35px;
}
@media only screen and (min-width: 801px) {
  .cards {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
}
@media only screen and (min-width: 1201px) {
  .cards {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(31, 33, 34, 0.1);
  padding: 15px;
}
@media only screen and (min-width: 801px) {
  .card {
    padding: 20px;
  }
}

.card-title {
  color: #d63e53;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.card-description {
  color: #767b7e;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.2em;
}

.value {
  font-size: 1.5rem;
  margin: 10px 0 8px;
}
.value.sm {
  font-size: 1rem;
}

.footer {
  align-content: center;
  background: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #767b7e;
  display: grid;
  font-size: 13px;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  z-index: 2;
}
.footer strong {
  color: #454849;
}
@media only screen and (min-width: 601px) {
  .footer {
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (min-width: 801px) {
  .footer {
    padding: 0 32px;
  }
}

.colophon {
  display: none;
}
@media only screen and (min-width: 601px) {
  .colophon {
    display: block;
  }
}

.footer-links {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, auto);
}
.footer-links svg {
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
.footer-links a {
  color: #1f2122;
  text-decoration: none;
}
.footer-links a path {
  fill: #1f2122;
  transition: fill 0.2s ease;
}
.footer-links a .label {
  display: none;
}
.footer-links a:hover, .footer-links a:focus {
  color: #d63e53;
}
.footer-links a:hover path, .footer-links a:focus path {
  fill: #d63e53;
}
@media only screen and (min-width: 601px) {
  .footer-links a .label {
    display: inline-block;
    vertical-align: middle;
  }
}

.social {
  margin: 0;
}
.social .twitter-follow-button,
.social .twitter-share-button {
  vertical-align: middle;
}

.unlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.unlist li + li {
  margin-top: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*# sourceMappingURL=/app.a3fb41f6.css.map */